<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <link rel="icon" href="/favicon.ico">
    <link rel="preload" as="image" href="./static/logo-f5291417.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>База отдыха</title>
    <script type="module" crossorigin src="/static/index-35b246a6.js"></script>
    <link rel="stylesheet" href="/static/index-1929fde2.css">
  </head>
  <body>
    <div id="app"></div>
    
        
  </body>
</html>
